.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5vw;
    margin-top: 50px;
}

.text-input-root{
    background-color: #24AE8C;
    color: #fff;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 600px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.input{
    width: 60%;
    border: 1px solid gray;
    padding: 10px 3px;
    border-radius: 5px;
    outline: none;
}

.search-bar div{
    max-height: 200px;
    overflow: auto;
    border: 1px solid gray;
    width: 60%;
    padding: 10px 3px;
    border-radius: 5px;
}

.search-bar p{
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.radio{
    margin-top: 20px;
}

.btn{
    border: none;
    background-color: #1E755F;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
}

.selected-movie-list{
    background-color: #1E755F;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
}

.movies-list-root{
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 70vw;
    margin-bottom: 20px;
}

.tabs{
    background-color: #18896D;
    color: #fff;
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs div{
    padding: 10px 20px;
    cursor: pointer;
}

.tabs .active{
    box-shadow: -1px 0px 5px rgba(4, 49, 38 , 0.8);
}

.movies-list-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 3px;
    width: 330px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-overflow: wrap;
    text-align: center;
    margin-bottom: 20px;
    color: #125040;
}

.movie-card img{
    border-radius: 15px;
    height: 300px;
}

@media only screen and (max-width: 750px) {
    .text-input-root{
        width: 90%;
    }
    .movies-list-root{
        width: 90%;
    }
    .movie-card{
        width: 95%;
    }
}